.productsStart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .productsStart > div > p:last-of-type {
    color: rgb(13, 51, 16);
    font-weight: bold;
  }
  .react{
      background-color: #2f6d27;
      border: none;
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
    }
    .productsStart > div {
      margin: 1rem;
      padding: 1rem;
      border: 1px solid #ccc;
      border-radius: 0.5rem;
      text-align: center;
      width: 300px;
    }
    .productsStart > div > img {
      max-width: 100%;
      height: auto;
    }
  .react button:hover {
      background-color: #2a7a2a;
    }
  
  
  
  
  
  
  
  
  
  
  
  